.navbar-custom {
    z-index: 3;
    background-color: transparent!important;
    border: transparent;
    .container {
        background-color: @golden!important;
        padding-right: 3%;
    }
    .nav {
        li {
            a {
                font-size: 1.2em;
                letter-spacing: 1px;
                color: white!important;
            }
        }
    }
}
